

@font-face {
    font-family: 'Aboreto';
    src: url('../fonts/Aboreto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alexandria';
    src: url('../fonts/Alexandria[wght].ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.ttf') format('truetype'),
        url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_page {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    background-color: #FDFDFD;
}

.top {
    width: 100%;

}
.top_wrapper {
    width: 100%;
    max-width: 1834px;
    position: relative;
    margin: 0 auto;

}
.top_info_item_wrapper_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.top_img {
    width: 100%;
    height: 780px;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    border: none;
}

/* .top_img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
} */
.top_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.top_info_items_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 18px 23px 49px 61px;
}


.top_info_item_wrapper_item_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
   outline: none;
   margin-bottom: 80px;
}

.top_info_item_wrapper_item_img {
    max-width: 205px;
    height: 87px;

}
.top_info_item_wrapper_item_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top_info_item_wrapper_item_link span {
    display: block;
    font-family: 'Aboreto';
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color: #FFFFFF;
  

}

.top_info_item_wrapper_item_title {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FDFDFD;
    font-size: 75px;
    line-height: 100px;
    max-width: 1030px;
    width: 100%;
    margin-bottom: 115px;
}

.top_info_item_wrapper_item_link2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FDFDFD;
    max-width: 343px;
    width: 100%;
    height: 84px;
    cursor: pointer;
    outline: none;
    border-radius: 17px;
    text-decoration: none;
}
.top_info_item_wrapper_item_link2 span {
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #04669B;
    font-size: 30px;
    margin-right: 30px;
}

.top_info_item_wrapper_item2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 80px;
}

.top_info_item_wrapper_item_auth_buttons_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 60px;
}

.top_info_item_wrapper_item_auth_button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 3px;
    border-color: #FFFFFF;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    height: 61px;
    padding: 0 27px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #248DC5;
    background: #FFFFFF;

}
.top_info_item_wrapper_item_auth_button:hover {
    border-color: #248DC5;
}

.top_info_item_wrapper_item_auth_button:first-child {
    margin-bottom: 15px;
}
.top_info_item_wrapper_item_nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.top_info_item_wrapper_item_nav_list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 20px;
}
.top_info_item_wrapper_item_nav_list_item {
    list-style: none;
    cursor: pointer;
}
.top_info_item_wrapper_item_nav_link {
    display: block;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 35px;
    color: #FDFDFD;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
}

.advantages {
    width: 100%;
    margin-bottom: 100px;
    position: relative;
    bottom: 52px;
}
.advantages_wrapper {
    width: 100%;
    max-width: 1834px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.advantages_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.advantage_card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #A3D0E8;
    border-radius: 20px;
    padding: 13px 11px 34px 11px; 
    gap: 50px;
    position: relative;
    
}


.advantages_wrapper_item_title {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #248DC5;
    line-height: 35px;
}

.advantage_title {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #FDFDFD;
    line-height: 30px;
}
.advantage_img {
    width: 50px;
    height: 50px;
    background-color: #FDFDFD;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.advantage_img img {
    width: 39px;
    height: 39px;
    object-fit: cover;
}

.advantages_wrapper_item1 {
    max-width: 812px;
    width: 100%;
}
.advantages_wrapper_item2 {
    max-width: 867px;
    width: 100%;
    position: relative;
    bottom: 52px
}
.advantage_icon_wrapper {
    position: absolute;
    top: -14px;
    right: -1px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
}

.advantage_icon {
    width: 75px;
    height: 75px;
    background-color: #248DC5;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.about_us {
    width: 100%;
    margin-bottom: 104px;
    padding: 56px 0;
    background-color: #5AA8D2;
}
.about_us_wrapper {
    width: 100%;
    max-width: 1487px;
    margin: 0 auto;
}
.about_us_title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #FDFDFD;
    margin-bottom: 50px;
    text-align: center;
}
.about_us_description {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #FDFDFD;
    line-height: 33px;
    text-align: center;
}
.technologies {
    width: 100%;
    margin-bottom: 146px;
}
.technologies_wrapper {
    width: 100%;
    max-width: 1487px;
    margin: 0 auto;
}
.technologies_title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #000000;
    margin-bottom: 79px;
    text-align: center;
}

.technologies_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 85px;
}
.technology_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    background-color: #D9D9D9;
    border-radius: 40px;
    padding: 47px 37px 30px 37px;
    box-shadow: 0px 0px 50px 0px rgba(36, 141, 197, 0.17);
}

.technology_img {
    width: 154px;
    height: 154px;
    margin-bottom: 50px;
}
.technology_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.technology_title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #000000;
    margin-bottom: 40px;
    text-align: center;
}
.technology_description {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
    line-height: 27px;
    text-align: center;
}

.footer {
    width: 100%;
}
.footer_wrapper {
    width: 100%;
}

.footer_wrapper_info {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #A3D0E8;
    line-height: 16px;
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
}
.footer_wrapper_item {
    background-color: #A3D0E8;
    padding: 28px 0;
    width: 100%;
}
.footer_wrapper_item_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1487px;
    margin: 0 auto;
}
.footer_wrapper_item_info {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #000000;
}
.footer_wrapper_item_nav_list {
    display: flex;
    align-items: center;
    gap: 80px;
}
.footer_wrapper_item_nav_list_item {
    list-style: none;
    cursor: pointer;
}
.footer_wrapper_item_nav_link {
    font-family: 'Alexandria';
    font-weight: 600;
    font-size: 22px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1860px) {
    .top_wrapper {
       max-width: unset!important;
       width: 95%!important;
    }
    .advantages_wrapper {
        max-width: unset!important;
        width: 95%!important;
    }
}

@media (min-width: 1559px) and (max-width: 1650px) {
   
    .advantages_grid {
        gap: 25px!important;
    }
    .advantages_wrapper_item_title {
        font-size: 25px!important;
    }
    .advantages_wrapper_item1 {
        max-width: 760px!important;
        width: 100%;
        margin-right: 10px;
    }
    .advantages {
        margin-bottom: 60px!important;
    }
    .advantage_title {
        font-size: 23px!important;
        line-height: 26px!important;
    }

}
@media (min-width: 1430px) and (max-width: 1559px) {
   
    .advantages_grid {
        gap: 20px!important;
    }
    .advantages_wrapper_item_title {
        font-size: 23px!important;
    }
    .advantages_wrapper_item1 {
        max-width: 700px!important;
        width: 100%;
        margin-right: 10px;
    }
    .advantages {
        margin-bottom: 60px!important;
        bottom: 38px!important;
    }
    .advantage_title {
        font-size: 20px!important;
        line-height: 22px!important;
    }
    .advantages_wrapper_item2 {
        bottom: 60px!important;
        left: 5px!important;
    }

}

@media  (max-width: 1430px) {
   
    .advantages_grid {
        gap: 15px!important;
    }
    .advantages_wrapper_item_title {
        font-size: 20px!important;
        line-height: 30px!important;
    }
    .advantages_wrapper_item1 {
        max-width: 670px!important;
        width: 100%;
        margin-right: 10px;
    }
    .advantages {
        margin-bottom: 40px!important;
        bottom: 38px!important;
    }
    .advantage_title {
        font-size: 18px!important;
        line-height: 22px!important;
    }
    .advantages_wrapper_item2 {
        bottom: 60px!important;
        left: 5px!important;
    }

}
@media (min-width: 1300px) and (max-width: 1482px) {
    .top_info_item_wrapper_item_title {
        font-size: 65px!important;
        line-height: 80px!important;
        margin-bottom: 115px;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .top_info_item_wrapper_item_title {
        font-size: 58px!important;
        line-height: 75px!important;
        margin-bottom: 95px!important;
    }
    .top_info_items_wrapper {
        padding: 18px 23px 49px 40px!important;
    }
    .advantages {
        margin-bottom: 30px!important;
        bottom: 38px!important;
    }
}
@media  (max-width: 1200px) {
    .advantages {
        margin-bottom: 30px!important;
        bottom: 38px!important;
    }
    .top_info_item_wrapper_item_title {
        font-size: 50px!important;
        line-height: 70px!important;
        margin-bottom: 85px!important;
    }
    .top_info_items_wrapper {
        padding: 18px 23px 49px 30px!important;
    }
    .top_info_item_wrapper_item_nav_link {
        font-size: 30px!important;
    }
    .top_info_item_wrapper_item_link2 {
        max-width: 300px!important;
        width: 100%;
        height: 75px!important;
    }
    .top_info_item_wrapper_item_link2 span {
        font-size: 27px!important;
        margin-right: 23px!important;
    }
}

@media (min-width: 1200px) and (max-width: 1470px) {
    .about_us_wrapper {
        max-width: unset!important;
        width: 95%!important;
    }
    .about_us_description {
        font-size: 28px!important;
    }
}

@media  (max-width: 1200px) {
    .footer_wrapper_item_nav_list {
        gap: 40px!important;
    }
    .footer_wrapper_item_info {
        font-size: 20px!important;
    }
    .footer_wrapper_item_nav_link {
        font-size: 20px!important;
    }
    .about_us_wrapper {
        max-width: unset!important;
        width: 95%!important;
    }
    .about_us_description {
        font-size: 26px!important;
    }
    .about_us_title {
        font-size: 35px!important;
        margin-bottom: 35px!important;
    }
}
@media (max-width: 1550px) {
    .footer_wrapper_item_wrapper {
        max-width: unset!important;
        width: 95%!important;
    }
    .technologies_wrapper {
        max-width: unset!important;
        width: 95%!important;
    }
    .technologies_grid {
        gap: 50px!important;
    }
    .technologies {
        margin-bottom: 100px!important;
    }
 
}

@media (min-width: 1280px) and (max-width: 1380px) {
   .technology_img {
        width: 130px!important;
        height: 130px!important;
   }
   .technology_description {
    font-size: 23px!important;
   }
   .technology_title {
    font-size: 35px!important;
   }
   .technology_card {
    padding: 47px 27px 30px 27px!important;
   }
   .technologies_grid {
        gap: 40px!important;
    }
}


@media (min-width: 1120px) and (max-width: 1280px) {
    .technology_img {
         width: 100px!important;
         height: 100px!important;
    }
    .technology_description {
     font-size: 21px!important;
    }
    .technology_title {
     font-size: 30px!important;
    }
    .technology_card {
     padding: 47px 22px 30px 22px!important;
    }
    .technologies_grid {
        gap: 30px!important;
    }
    .technologies {
        margin-bottom: 80px!important;
    }
    .about_us {
        margin-bottom: 80px!important;
    }
 }


@media (max-width: 1120px) {
    .technology_img {
         width: 100px!important;
         height: 100px!important;
    }
    .technology_description {
     font-size: 20px!important;
    }
    .technology_title {
     font-size: 28px!important;
    }
    .technology_card {
     padding: 34px 18px 30px 18px!important;
    }
    .technologies_grid {
        gap: 25px!important;
    }
    .technologies {
        margin-bottom: 75px!important;
    }
    .about_us {
        margin-bottom: 75px!important;
    }
 }

